<body>
    <div class="container">
        <div class="header">
            <h1>
                Login
            </h1>
        </div>

        <div class="main">
            <form>
                <span>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre de Usuario</mat-label>
                        <input type="text" matInput placeholder="Nombre de Usuario">
                    </mat-form-field>
                </span>
                <br>
                <span>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput placeholder="Contraseña">
                    </mat-form-field>
                </span>
                <br>

                <button mat-raised-button color="primary">Login</button>
            </form>
        </div>
    </div>
</body>