<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>

    <span>
        Responsive side navigation
    </span>

    <span class="spacer"></span>

    <button mat-flat-button color="warn" (click)="logout()">
        Salir
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <button mat-button matTooltip="Menu" class="text-center" [routerLink]="['/app/Menu']">
            <span>Menu</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Alojamientos" class="menu-button" [routerLink]="['/app/Alojamientos/Listado']">
            <mat-icon>home</mat-icon>
            <span routerLinkActive="active">Alojamientos</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Habitaciones" class="menu-button" [routerLink]="['/app/Habitaciones/Listado']">
            <mat-icon>bedroom_parent</mat-icon>
            <span routerLinkActive="active">Habitaciones</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Clientes" class="menu-button" [routerLink]="['/app/Clientes/Listado']">
            <mat-icon>group</mat-icon>
            <span routerLinkActive="active">Clientes</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Reservas" class="menu-button" [routerLink]="['/app/Reservas/Listado']">
            <mat-icon>family_restroom</mat-icon>
            <span routerLinkActive="active">Reservas</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Usuarios" class="menu-button" [routerLink]="['/app/Usuarios/Listado']">
            <mat-icon>person</mat-icon>
            <span routerLinkActive="active">Usuarios</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Password" class="menu-button" [routerLink]="['/RestablecerContrasena']">
            <mat-icon>key</mat-icon>
            <span routerLinkActive="active">Password</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button matTooltip="Password" class="menu-button" [routerLink]="['/app/CambioContrasena']">
            <mat-icon>key</mat-icon>
            <span routerLinkActive="active">Cambios Password</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>