.example-card {
    max-width: 400px;
}

.card-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-mdc-form-field {
    width:50vh;
}